wheel==0.35.1
setuptools
awesome-progress-bar==1.6.3
future==0.18.2
numpy==1.19.1
opencv-python==4.5.2.54
pandas==1.1.2
Pillow==7.2.0
pycocotools==2.0.2
python-dateutil==2.8.0
pytz==2019.3
rotational-update==0.0.17
six==1.12.0
torch==1.6.0
torchvision==0.7.0
